<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300827510566-5e3ed12qrkhsqqolhptl2rmmrmstjrpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300827510566-5e3ed12qrkhsqqolhptl2rmmrmstjrpv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>300827510566-1pmjbdfp2dst31dmf5vf18bcoe2aa0hk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBi35eZj4UsGed4GfdAR_xSF3cnuky4uuY</string>
	<key>GCM_SENDER_ID</key>
	<string>300827510566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stacklasAssignment</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-782b6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-782b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300827510566:ios:1515fdde13ed24635063e7</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapp-782b6-default-rtdb.firebaseio.com</string>
</dict>
</plist>